*{
    background-color: rgb(117, 117, 117);
    font-family:Arial, Helvetica, sans-serif
}

#base-site{
    margin-top: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

input{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 250px;
    text-align: center;
    font-size: 100px;
}
button{
    background-color: white;
    border: none;
    width: 5%;
    height: 50px;
    font-size: 20px;
}

select{
    background-color: white;
    border: none;
    width: 5%;
    height: 50px;
    padding-left: 1%;
    font-size: 22px;
}

span{
    background-color: white;
    border-radius: 5px;
    padding: 85px 125px;
    font-size: 75px;
}